@charset "ISO-8859-1";

::-webkit-input-placeholder {
	font-family: "Varta";
	font-weight: 300;
	font-style: italic;
	color: #ABABAB;
}

:-moz-placeholder {
	font-family: "Varta";
	font-weight: 300;
	font-style: italic;
	color: #ABABAB;
}

::-moz-placeholder {
	font-family: "Varta";
	font-weight: 300;
	font-style: italic;
	color: #ABABAB;
}

:-ms-input-placeholder {
	font-family: "Varta";
	font-weight: 300;
	font-style: italic;
	color: #ABABAB;
}

body {
	font-family: "Varta";
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

.sign-in-wrapper {
	height: 225px;
	margin: auto;
	position: absolute;
	vertical-align: middle;
	width: 630px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sign-in {
	float: left;
	margin: 10px;
	width: 300px;
}

.sign-in-header {
	float: right;
	width: 100%;
}

.header {
	margin: 0px;
	margin-left: 10px;
	font-size: 20px;
	font-family: "Varta";
	font-weight: 600;
	float: left;
}

.subheader {
	margin: 0px;
	margin-left: 10px;
	font-size: 16px;
	font-family: "Varta";
	font-weight: 600;
	float: left;
}

.invalid {
	font-style: italic;
	font-size: 18px;
	color: #FF0000;
	float: right;
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

.sign-in form {
	float: right;
	text-align: right;
	width: 100%;
}

.newuser form {
	float: right;
	text-align: right;
	width: 100%;
}

.gray-text-input {
	background-color: #F0F0F0;
	font-size: 24px;
	height: 20px;
	width: 260px;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	border: 0;
}

.submit {
	background-color: #FF6C6C;
	color: white;
	padding: 5px;
	padding-bottom: 0px;
	text-align: center;
	width: 100px;
	font-family: "Varta";
	font-size: 24px;
	font-weight: 600;
	margin: 10px;
	border-radius: 10px;
	border: 0px;
	float: right;
}

.divider {
	background-color: #F0F0F0;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	height: 100%;
	width: 5px;
}

.other-options {
	float: left;
	margin-top: 34.67px;
	padding: 10px;
	width: 275px;
}

.yellow-button {
	background-color: #FEB84E;
	color: white;
	padding: 5px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-family: "Varta";
	font-size: 24px;
	font-weight: 600;
	margin: 10px;
	border-radius: 10px;
	border: 0px;
}

.new-game {
	text-align: center;
}

.newuser {
	height: 300px;
	margin: auto;
	position: absolute;
	vertical-align: middle;
	width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.lobby-wrapper {
	height: 300px;
	width: 100%;
	margin: auto;
	position: absolute;
	vertical-align: middle;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.greeting h1 {
	text-align: center;
}

.lobby-content {
	height: 225px;
	margin: auto;
	position: absolute;
	bottom: 0px;
	width: 300px;
	left: 50%;
	transform: translate(-50%, 0);
}

.new-game {
	margin: auto;
}

.divider-vert {
	background-color: #F0F0F0;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: 5px;
}

.game-room-info {
	width: 100px;
}

.game-room-info ul {
	list-style-type: none;
}